[project]
	description = A simple python web server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LeondWang
[access "refs/for/refs/*"]
	read = group user/LeondWang
	push = group user/LeondWang
	label-Code-Review = -2..+2 group user/LeondWang
	label-Verified = -1..+1 group user/LeondWang
	rebase = group user/LeondWang
	removeReviewer = group user/LeondWang
	submit = group user/LeondWang
[access "refs/heads/*"]
	read = group user/LeondWang
	create = group user/LeondWang
	push = +force group user/LeondWang
	pushMerge = group user/LeondWang
[access "refs/tags/*"]
	push = +force group user/LeondWang
	pushTag = group user/LeondWang
	pushSignedTag = group user/LeondWang
